Table thead{
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
    background-color: white;
    

}
.tableContainer{
    /* background-color: #1E1F25; */
    border-radius: 20px;
    height: 33rem;
    
    padding: 0 10px 10px 10px;
    overflow: scroll;
    text-decoration-color: white;
}

.react-bootstrap-table {
    height: 450px;
    overflow-y: auto;
    overflow-x: scroll;
  }


  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 20px;
    height: 20px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #4EAD52; /* Blue */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }
  
  .spinner-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 25px;
  }

  .loading {
    display: flex;
    float: inline-end;
    justify-content: center;
    height: fit-content
  }

.load-spinner{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 5px 0px;
  
}